[run]
source = cosmotech.coal
omit =
    */tests/*
    */site-packages/*
    */__pycache__/*
    cosmotech/coal/utils/decorator.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
precision = 2
skip_covered = true

[html]
directory = coverage_html_report
skip_covered = false
skip_empty = true
