# Azure connection requirements
azure-functions~=1.20.0
azure-digitaltwins-core~=1.2.0
azure-identity~=1.16.1
azure-kusto-data~=4.4.1
azure-kusto-ingest~=4.4.1
tenacity~=8.3.0

# Keycloak connection
python-keycloak~=4.3.0

# Modelops requirements
redis==4.4.4
redisgraph_bulk_loader==0.10.2

# Cosmotech specific requirements
cosmotech-api~=3.2

# Commands requirements
boto3~=1.34
requests~=2.32.3

# Orchestrator templates requirements
cosmotech-run-orchestrator~=1.4

# Data store requirements
pyarrow~=17.0.0
adbc-driver-manager~=1.1.0
adbc-driver-sqlite~=1.1.0
adbc-driver-postgresql~=1.1.0

# CLI requirements
click~=8.1.7
rich-click~=1.7.3
click-log~=0.4.0

# Other requirements
openpyxl~=3.1
pandas~=2.1
python-dateutil~=2.8
rich~=13.7

# fix distutils missing from 3.12
setuptools
