azure-functions
azure-digitaltwins-core
azure-identity
azure-kusto-data
azure-kusto-ingest

redis==4.3.1
redisgraph_bulk_loader==0.10.2

openpyxl
pandas
python-dateutil

cosmotech-api

# Documentation generation
mkdocs
mkdocs-gen-files
mkdocs-material
mkdocstrings[python]
mkdocs-literate-nav
pymdown-extensions
requirements-parser
