# Azure connection requirements
azure-functions
azure-digitaltwins-core
azure-identity
azure-kusto-data
azure-kusto-ingest

# Modelops requirements
redis==4.3.1
redisgraph_bulk_loader==0.10.2

# Cosmotech specific requirements
cosmotech-api

# Other requirements
openpyxl
pandas
python-dateutil

# Documentation generation
mkdocs
mkdocs-gen-files
mkdocs-material
mkdocstrings[python]
mkdocs-literate-nav
pymdown-extensions
requirements-parser
