# Documentation generation
mkdocs~=1.5
mkdocs-click~=0.8.1
mkdocs-gen-files~=0.5
mkdocs-material~=9.4
mkdocstrings[python]~=0.23
mkdocs-literate-nav~=0.6
pymdown-extensions~=10.3
requirements-parser~=0.5
setuptools~=69.1
mike~=2.0